.topButton {
    -fx-background-color: #02873F;
    -fx-cursor: "pointer";
    -fx-text-fill:#FFFFFF;
    -fx-font-family: monospace;
    -fx-font-size: 18.0;
}

.topButton:hover,.topPanelBG,.cont,.cont1,.bottomButtonsContainer {
    -fx-background-color: #00823d;
}

.balancePanel {
    -fx-background-color: #044A24;
    -fx-text-fill: white;
}

.whiteText {
    -fx-fill: #FFFFFF;
    -fx-font-family: monospace;
    -fx-font-size: 21.0;
    -fx-font-weight: bold;
}

.container {
    /*-fx-background-color: black;*/
}
.text1 {
    -fx-fill: #FFFFFF ;
    -fx-font-size: 20.0 ;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}
#categoryChoiceBox{
    -fx-background-color: #FFFFFF;
    -fx-font-size: 18.0;
    -fx-font-family: monospace;
    -fx-text-fill: #2d2d2d;
}
#nameTextField,#priceTextField{
    -fx-background-color: #FFFFFF;
    -fx-prompt-text-fill: #a4a4a4;
    -fx-font-weight: bold;
    -fx-font-size: 18.0;
    -fx-font-family: monospace;
}
#addBt,#addBt1{
    -fx-background-color: #044A24;
    -fx-font-size: 18.0;
    -fx-text-fill: #FFFFFF ;
    -fx-font-weight: bold;
}
#expensesBt,#incomeBt,#expensesChart,#incomeChart{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: monospace;
    -fx-font-size: 19.0;
    -fx-font-weight: bold;
    -fx-border-width: 1.0;
    -fx-border-color: #FFFFFF;
}
#balance {
    -fx-fill: #00FA9A;
}
#settingsBt{
    -fx-background-color: none;
    -fx-background-image: url("settings.png");
    -fx-background-size: 135 75;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#expensesChart,#incomeChart{
    -fx-background-image: url("ey.png");
    -fx-background-size: 150 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#categoryBt,#currencyBt{
    -fx-background-color: #044A24;
    -fx-text-fill: #FFFFFF;

}
.set {
    -fx-background-color: #00823d;
}
.choice-box .context-menu {
    -fx-background-color: #FFFFFF;
    -fx-font-family: monospace;
    -fx-text-fill: #2d2d2d;
}
.choice-box .label {
    -fx-text-fill: #2d2d2d;
    -fx-font-weight: bold;
}
.theme{
    -fx-fill: #FFFFFF;
    -fx-font-family: monospace;
    -fx-font-size: 15.0;
    -fx-font-weight: bold;

}
#currency{
    -fx-background-color: #FFFFFF;
}
.upperSettingsBlock{
    -fx-border-style: solid;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 0 3 0;
}
.listViewItem {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-min-width: 166;
    -fx-pref-width: 184;
}
#dayChart,#weekChart,#monthChart,#yearChart{
    -fx-fill: #FFFFFF;
    -fx-font-family: monospace;
    -fx-font-size: 19.0;
    -fx-font-weight: bold;
    -fx-border-width: 1.0;
    -fx-border-color: #FFFFFF;
}

.errorLabel {
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-padding: 10;
}