.topButton {
    -fx-background-color: #02873F;
    -fx-cursor: "pointer";
    -fx-text-fill:#FAEBD7;
    -fx-font-family: monospace;
    -fx-font-size: 18.0;
}

.topButton:hover,.topPanelBG,.cont,.cont1,.bottomButtonsContainer {
    -fx-background-color: #00823d;
}

.balancePanel {
    -fx-background-color: #044A24;
    -fx-text-fill: white;
}

.whiteText {
    -fx-fill:#FAEBD7;
    -fx-font-family: monospace;
    -fx-font-size: 21.0;
    -fx-font-weight: bold;
}

.container {
    -fx-background-color: black;
}
.text {
    -fx-fill: #FAEBD7 ;
    -fx-font-size:20.0 ;
    -fx-font-weight:bold;
    -fx-font-family: monospace;
}
#categoryChoiceBox{
    -fx-background-color: #C0C0C0;
    -fx-fill:#FAEBD7;
    -fx-font-size:16.0;
    -fx-font-family: monospace;
}
#nameTextField,#priceTextField{
    -fx-background-color: #C0C0C0;
    -fx-prompt-text-fill: #FAEBD7;
    -fx-font-size:18.0;
    -fx-font-family: monospace;
}
#addBt,#addBt1{
    -fx-background-color: #044A24;
    -fx-font-size:18.0;
    -fx-text-fill: #FAEBD7 ;
    -fx-font-weight: bold;
 }
#expensesBt,#incomeBt,#expensesChart,#incomeChart{
    -fx-text-fill:#FAEBD7;
    -fx-font-family: monospace;
    -fx-font-size: 19.0;
    -fx-font-weight: bold;
}
#balance {
    -fx-fill: #00FA9A;
}
#settingsBt{
    -fx-background-color: none;
    -fx-background-image: url("options.png");
    -fx-background-size: 65 65;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#expensesChart,#incomeChart{
    -fx-background-image: url("eye.png");
    -fx-background-size: 30 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

